*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    width: 100%;
    padding: 30px 20px;
    background-color: #f0f;
    display: flex;
    justify-content: flex-end;
}

.head-box{
    background-color: #fbb3ff;
    flex-basis: 140px;
    margin: 0 10px;
    height: 70px;
}

.head-box:first-child{
    margin-right: auto;
}

.main-box{
    display: flex;
    justify-content: center;
}

.main-box-left{
    background-color: #d8ff6b;
    width: 300px;
}

.main-box-right{
    background-color: #00b522;
    max-width: 700px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    background-color: #fff75a;
    flex-basis: 200px;
    height: 130px;
    margin: 10px;
}

.footer-box{
    width: 100%;
    background-color: #52a1ff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-item{
    background-color: #b6e7ff;
    flex-basis: 45%;
    max-width: 600px;
    height: 40px;
    margin: 10px;

}